.container {
    height: 80vh;
}

.btn-container {
    position: relative;
}

.btn-login {
    text-align: center;
    width: 25vw;
    min-width: 270px;
}

.spotify-logo {
    position: absolute;
    top: 8px;
    right: 15px;
    width: 40px;
   
}