.title {
    margin-left: 20px;
}
.albums-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    margin: 20px;
    max-width: 18rem;
    min-width: 18rem
}

.no-space {
    line-height: 0.5;
} 

div.bottom-left {
    
    
}

div.bottom-left > .card-text {
    margin-bottom: 0;
}